<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Project name</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/">Home</a></li>
        <li><a href="/account_page">My Account</a></li>
      </ul>
      <% if current_user %>
      <a href="/logout" class="btn btn-info btn-lg">
       <span class="glyphicon glyphicon-log-out"></span> Log out
     </a> 
     <% end %>
   </div>
  </div>
</nav>
<div class="products_background container">
  <div class="row row-offcanvas row-offcanvas-right">
    <div class="col-xs-12 col-sm-9">
      <p class="pull-right visible-xs">
        <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
      </p>
        <p id="subs_title">SUBSCRIPTION LISTINGS</p>
      </div>
      <div class="row">
      <% all_products = Product.all %>
        <% all_products.each do |product| %>
        <div id="videosList" class="col-xs-6 col-lg-6">
          <h2><a href="/products/<%= product.id %>" ><%= product.name %></a></h2>
          <p><%= product.description %> </p>   
          <div class="video">
            <video style="background-image: url('<%= product.url %>')" height="310" width="550" class="thevideo" loop preload="none">
              <source src="<%= product.video_url %>" type="video/mp4">
              <source src="http://giant.gfycat.com/VerifiableTerrificHind.webm" type="video/webm">
              Your browser does not support the video tag.
            </video>
          </div>
        </div>
          <% end %>
      </div>
    </div>
  </div>
</div><!--/.container-->