<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Subscribe it!</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-left">
        <li><a href="/">Home</a></li>
        <li><a href="/products">Products</a></li>
        <li><a id="my_ac_but" href="/account_page">My Account</a></li>
      </ul>
      <p class="nav navbar-nav navbar-right">
        <% if current_user %>
        <a href="/logout" class="btn btn-info btn-lg">
         <span class="glyphicon glyphicon-log-out"></span> Log out
       </a> 
       <% end %>
     </p>
     </div>
   </div>
</nav> 

<div id="detail_background" class="row">
  <div id="margin_detail" class="col-sm-6 col-md-4">
    <div class="thumbnail">
     <img src="<%= @product.url %>" alt="...">
      <div id="detail_background" class="caption">
       <h3><%= @product.name %></h3>
       <p><%= @product.description %></p>
       <p>Delivery frequency: Every <%= @product.frequency %> days</p>
       <% total = 0 %>
       <% next_purchase = 100 %>

       <% monthly_price = 0 %>
       <% duration = 0 %>
       <% remainder = 0 %>
       <% duration = @product.frequency %>
       <% remainder = 30 % duration%>
       <% duration = (30 / duration).to_i + remainder %> 
       <% monthly_price += @product.price * duration %>

       <% monthly_price %>


       <p>Price per month: $<%= monthly_price %></p>
       <p>
         <form method="post" action="/products/<%= @product.id %>/add"><button type="submit" class="btn btn-success" value="add">Subscribe</button></form></p>
         <% if current_user %>
         <h4>Leave a review of this product</h4>
         <form method="post" action="/reviews">
          <textarea class="form-control" rows="3" name="review" placeholder="Your review here"></textarea>
          <div>
            <input type="hidden" name="id" value="<%= @product.id%>">
            <input type="submit" value="post review">
          </div>
        </form>
        <% else %>
        <h4>Please <a href="/">Log in</a> or <a href="/sign_up">Sign up</a> to leave a review</h4>
        <% end %>
        <% @reviews = Review.where(product_id: @product.id) %>
        <% @reviews.each do |review| %>
        <% if review.user_id == (current_user && current_user.id) %>
      </div>
    </div>
  </div> 
</div>  
<div class="review-block">
<h2><center>Reviews</center></h2>
  <div class="row">
    <div class="col-sm-3">
    
      <div class="review-block-name"><a href="#">By: <%= current_user.first_name %></a></div>

      <div class="review-block-date">Posted: <%= review.created_at.to_s(:long) %><br/></div>
    </div>
    <div class="col-sm-9">


      <div class="review-block-description"><%= review.review %></div>
    </div>
  </div>
</div>
<form method="post" action="/review/<%= review.id %>/delete"><input type="submit" value="Delete"></form></p>
<% else %>
<div class="review-block">
  <div class="row">
    <div class="col-sm-3">
      <div class="review-block-name"><a href="#">By: <%= review.user.first_name %></a></div>
      <div class="review-block-date">Posted: <%= review.created_at.to_s(:long) %><br/></div>
    </div>
    <div class="col-sm-9">
      <div class="review-block-description"><%= review.review %></div>
    </div>
  </div>
</div>
<% end %>
<% end %>


